Î.pricing-plans {
  margin-bottom: 30px;

  .plan-header {
    color: $purple;
    font-weight: $font-weight-bold;
  }

  .plan-title {
    font-size: 46px;
    font-weight: $font-weight-light;

    span {
      font-size: $font-size-base;
      color: $gray;
    }

    margin-bottom: 30px;
  }
}